@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100&display=swap');
html {
  background: url("img.png") bottom center;
  background-size: cover;
  font-size: 20px;
  
}
body {
  
  display: flex;
  flex-flow: column;
  text-align: center;
  justify-content: center;
  
}
h2, h1, h3, body {
  font-family: 'Londrina Solid', cursive;
  color: whitesmoke;
  font-weight: 300;
}
.social {
  position: relative;
  bottom: -10vh;
}
.keys {
  position: relative;
  top: 10vh;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin-bottom: 10px;
  padding: 0 20px;
  justify-content: center;

}

.key {
  display: flex;
  flex-direction: column;
  border: .1rem solid rgb(39, 31, 31);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 2rem;
  padding: 1rem .5rem;
  transition: all .05s ease;
  width: 5rem;
  text-align: center;
  color: white;
  background: rgba(139, 170, 67, 0.719);
  text-shadow: 0 0 .5rem black;
}
.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}
.sound {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #e62f17;
}